<h1>All Entries</h1>

<ul> 
  <% for entry in @entries %>
    <li><%= entry["title"] %></li>
    <li><%= entry["description"] %></li>
    <li><%= entry["occured_on"] %></li>
  <% end %>
</ul>

<a href="/entries/new">New Entry</a>