<h1>Places I've Been</h1>

<ul> 
  <% for place in @places %>
    <li>
    <%# Creating a link to each place that goes to the entries %>
    <%= link_to place["name"], "/places/#{place["id"]}" %>
    </li>
  <% end %>
</ul>

<a href="/places/new">New Place</a>