<h1>New Place</h1>

<%# Allows user to create a new place on the landing page %>
<form action="/places" method="post">
  <p>
    <label for="name">Place</label>
    <input type="text" name="name" id="name">
  </p>
 
  <button>Submit</button>
</form>